<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.revolut.money.transfer.db.mapper.TransactionMapper">

    <insert id="create"
            parameterType="com.revolut.money.transfer.model.Transaction"
            useGeneratedKeys="true"
            keyProperty="transactionId" keyColumn="transaction_id">
        insert into transaction(account, amount, transfer_date, type, message)
        values (#{account}, #{amount}, #{transferDate}, #{type}, #{message})
    </insert>

    <delete id="delete" parameterType="long">
        delete from transaction where transaction_id = #{transactionId}
    </delete>

    <delete id="deleteAccountTransactions" parameterType="long">
        delete from transaction where account = #{accountId}
    </delete>

    <select id="readAccountTransactions"
            resultType="java.util.List"
            resultMap="readTransactionResultMap">
        select transaction_id, account, amount, transfer_date, type, message
        from transaction  where account = #{accountId}
    </select>

    <resultMap id="readTransactionResultMap" type="com.revolut.money.transfer.model.Transaction">
        <id property="transactionId" column="transaction_id"/>
        <result property="account" column="account"/>
        <result property="amount" column="amount"/>
        <result property="transferDate" column="transfer_date"/>
        <result property="type" column="type"/>
        <result property="message" column="message"/>
    </resultMap>

</mapper>